################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gradescript-Examples/001.cl
/Gradescript-Examples/001.txt
/Gradescript-Examples/002.cl
/Gradescript-Examples/002.txt
/Gradescript-Examples/003.cl
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/cs360lab1/v16/Browse.VC.opendb
/.vs/cs360lab1/v16/Browse.VC.db-wal
/.vs/cs360lab1/v16/Browse.VC.db-shm
/small.txt
/random_hero_gen.cpp
/random_hero_gen
/names.h
/index.html
/Gradescript-Examples/gen_test.sh
/Gradescript-Examples/100.txt
/Gradescript-Examples/100.cl
/Gradescript-Examples/099.txt
/Gradescript-Examples/099.cl
/Gradescript-Examples/098.txt
/Gradescript-Examples/098.cl
/Gradescript-Examples/097.txt
/Gradescript-Examples/097.cl
/Gradescript-Examples/096.txt
/Gradescript-Examples/096.cl
/Gradescript-Examples/095.txt
/Gradescript-Examples/095.cl
/Gradescript-Examples/094.txt
/Gradescript-Examples/094.cl
/Gradescript-Examples/093.txt
/Gradescript-Examples/093.cl
/Gradescript-Examples/092.txt
/Gradescript-Examples/092.cl
/Gradescript-Examples/091.txt
/Gradescript-Examples/091.cl
/Gradescript-Examples/090.txt
/Gradescript-Examples/090.cl
/Gradescript-Examples/089.txt
/Gradescript-Examples/089.cl
/Gradescript-Examples/088.txt
/Gradescript-Examples/088.cl
/Gradescript-Examples/087.txt
/Gradescript-Examples/087.cl
/Gradescript-Examples/086.txt
/Gradescript-Examples/086.cl
/Gradescript-Examples/085.txt
/Gradescript-Examples/085.cl
/Gradescript-Examples/084.txt
/Gradescript-Examples/084.cl
/Gradescript-Examples/083.txt
/Gradescript-Examples/083.cl
/Gradescript-Examples/082.txt
/Gradescript-Examples/082.cl
/Gradescript-Examples/081.txt
/Gradescript-Examples/081.cl
/Gradescript-Examples/080.txt
/Gradescript-Examples/080.cl
/Gradescript-Examples/079.txt
/Gradescript-Examples/079.cl
/Gradescript-Examples/078.txt
/Gradescript-Examples/078.cl
/Gradescript-Examples/077.txt
/Gradescript-Examples/077.cl
/Gradescript-Examples/076.txt
/Gradescript-Examples/076.cl
/Gradescript-Examples/075.txt
/Gradescript-Examples/075.cl
/Gradescript-Examples/074.txt
/Gradescript-Examples/074.cl
/Gradescript-Examples/073.txt
/Gradescript-Examples/073.cl
/Gradescript-Examples/072.txt
/Gradescript-Examples/072.cl
/Gradescript-Examples/071.txt
/Gradescript-Examples/071.cl
/Gradescript-Examples/070.txt
/Gradescript-Examples/070.cl
/Gradescript-Examples/069.txt
/Gradescript-Examples/069.cl
/Gradescript-Examples/068.txt
/Gradescript-Examples/068.cl
/Gradescript-Examples/067.txt
/Gradescript-Examples/067.cl
/Gradescript-Examples/066.txt
/Gradescript-Examples/066.cl
/Gradescript-Examples/065.txt
/Gradescript-Examples/065.cl
/Gradescript-Examples/064.txt
/Gradescript-Examples/064.cl
/Gradescript-Examples/063.txt
/Gradescript-Examples/063.cl
/Gradescript-Examples/062.txt
/Gradescript-Examples/062.cl
/Gradescript-Examples/061.txt
/Gradescript-Examples/061.cl
/Gradescript-Examples/060.txt
/Gradescript-Examples/060.cl
/Gradescript-Examples/059.txt
/Gradescript-Examples/059.cl
/Gradescript-Examples/058.txt
/Gradescript-Examples/058.cl
/Gradescript-Examples/057.txt
/Gradescript-Examples/057.cl
/Gradescript-Examples/056.txt
/Gradescript-Examples/056.cl
/Gradescript-Examples/055.txt
/Gradescript-Examples/055.cl
/Gradescript-Examples/054.txt
/Gradescript-Examples/054.cl
/Gradescript-Examples/053.txt
/Gradescript-Examples/053.cl
/Gradescript-Examples/052.txt
/Gradescript-Examples/052.cl
/Gradescript-Examples/051.txt
/Gradescript-Examples/051.cl
/Gradescript-Examples/050.txt
/Gradescript-Examples/050.cl
/Gradescript-Examples/049.txt
/Gradescript-Examples/049.cl
/Gradescript-Examples/048.txt
/Gradescript-Examples/048.cl
/Gradescript-Examples/047.txt
/Gradescript-Examples/047.cl
/Gradescript-Examples/046.txt
/Gradescript-Examples/046.cl
/Gradescript-Examples/045.txt
/Gradescript-Examples/045.cl
/Gradescript-Examples/044.txt
/Gradescript-Examples/044.cl
/Gradescript-Examples/043.txt
/Gradescript-Examples/043.cl
/Gradescript-Examples/042.txt
/Gradescript-Examples/042.cl
/Gradescript-Examples/041.txt
/Gradescript-Examples/041.cl
/Gradescript-Examples/040.txt
/Gradescript-Examples/040.cl
/Gradescript-Examples/039.txt
/Gradescript-Examples/039.cl
/Gradescript-Examples/038.txt
/Gradescript-Examples/038.cl
/Gradescript-Examples/037.txt
/Gradescript-Examples/037.cl
/Gradescript-Examples/036.txt
/Gradescript-Examples/036.cl
/Gradescript-Examples/035.txt
/Gradescript-Examples/035.cl
/Gradescript-Examples/034.txt
/Gradescript-Examples/034.cl
/Gradescript-Examples/033.txt
/Gradescript-Examples/033.cl
/Gradescript-Examples/032.txt
/Gradescript-Examples/032.cl
/Gradescript-Examples/031.txt
/Gradescript-Examples/031.cl
/Gradescript-Examples/030.txt
/Gradescript-Examples/030.cl
/Gradescript-Examples/029.txt
/Gradescript-Examples/029.cl
/Gradescript-Examples/028.txt
/Gradescript-Examples/028.cl
/Gradescript-Examples/027.txt
/Gradescript-Examples/027.cl
/Gradescript-Examples/026.txt
/Gradescript-Examples/026.cl
/Gradescript-Examples/025.txt
/Gradescript-Examples/025.cl
/Gradescript-Examples/024.txt
/Gradescript-Examples/024.cl
/Gradescript-Examples/023.txt
/Gradescript-Examples/023.cl
/Gradescript-Examples/022.txt
/Gradescript-Examples/022.cl
/Gradescript-Examples/021.txt
/Gradescript-Examples/021.cl
/Gradescript-Examples/020.txt
/Gradescript-Examples/020.cl
/Gradescript-Examples/019.txt
/Gradescript-Examples/019.cl
/Gradescript-Examples/018.txt
/Gradescript-Examples/018.cl
/Gradescript-Examples/017.txt
/Gradescript-Examples/017.cl
/Gradescript-Examples/016.txt
/Gradescript-Examples/016.cl
/Gradescript-Examples/015.txt
/Gradescript-Examples/015.cl
/Gradescript-Examples/014.txt
/Gradescript-Examples/014.cl
/Gradescript-Examples/013.txt
/Gradescript-Examples/013.cl
/Gradescript-Examples/012.txt
/Gradescript-Examples/012.cl
/Gradescript-Examples/011.txt
/Gradescript-Examples/011.cl
/Gradescript-Examples/010.txt
/Gradescript-Examples/010.cl
/Gradescript-Examples/009.txt
/Gradescript-Examples/009.cl
/Gradescript-Examples/008.txt
/Gradescript-Examples/008.cl
/Gradescript-Examples/007.txt
/Gradescript-Examples/007.cl
/Gradescript-Examples/006.txt
/Gradescript-Examples/006.cl
/Gradescript-Examples/005.txt
/Gradescript-Examples/005.cl
/Gradescript-Examples/004.txt
/Gradescript-Examples/004.cl
/Gradescript-Examples/003.txt
/gradescript
/gradeall
/G2.jpg
/G1.jpg
/classes.h
/chain_heal_check
/chain_heal
/.vs/cs360lab1/v16/Browse.VC.db
